.btn-circle {
  width: 1.9rem; /* Điều chỉnh kích thước theo ý muốn */
  height: 1.9rem; /* Điều chỉnh kích thước theo ý muốn */
  color: white;
  border-radius: 50%; /* Đảm bảo hình tròn */
  font-size: 16px; /* Điều chỉnh kích thước chữ theo ý muốn */
  background: var(--primary-gradient) !important;
}
.quantity-span {
  display: inline-block;
  width: 45px;
  text-align: center; /* Căn giữa nội dung */
  font-weight: 600;
}

.delete-icon {
  cursor: pointer;
  transition: all 0.2s ease;
  color: #e74c3c;
}

.delete-icon:hover {
  transform: scale(1.15);
  color: #c0392b;
}
