.btn-circle {
  width: 1.9rem; /* Điều chỉnh kích thước theo ý muốn */
  height: 1.9rem; /* Điều chỉnh kích thước theo ý muốn */
  color: white;
  border-radius: 50%; /* Đảm bảo hình tròn */
  font-size: 16px; /* Điều chỉnh kích thước chữ theo ý muốn */
  /* fallback for old browsers */
  background: #fccb90 !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  ) !important;
  background: linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  ) !important;
}
.quantity-span {
  display: inline-block;
  width: 45px;
  text-align: center; /* Căn giữa nội dung */
  font-weight: 600;
}
